In [10]:
import pandas as pd, plotly.express as px, seaborn as sns, matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("./clean.csv")

In [12]:
df.head(3)

,NMS Service Plan Id,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,Distributor Partner Id,Satellite,Gateway Name,...,Last Modified Date,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,Lat,Long,location
0,NC020G1,8032582277,Marcorex Telco Services Hyperia,4/13/2018,NaN,3521532,NaN,NaN,Y1B,Y1BLXB,...,4/17/2018,HN9600,Y1B051,YahClick Empower 20GB,NaN,2628267,Inactive,4.956944,6.361944,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa..."
1,NC010G1,8020575565,GETACHUS NIG LTD Hyperia,4/16/2018,NaN,3619771,NaN,NaN,Y1B,Y1BLXB,...,4/17/2018,HN9260,Y1B051,YahClick Lite 10GB,NaN,2332146,Inactive,6.470000,6.090000,"F39R+X2 Ebute-Ujogba,"
2,NC010G1,(234) 146-1991,Etchgold Nigeria Limited,4/10/2018,NaN,3373588,SKY01326,NaN,Y1B,Y1BATH,...,4/17/2018,HN9800,Y1B061,YahClick Lite 10GB,NaN,2482968,Inactive,9.240000,12.439722,"6CQQ+XV Jimeta,"

In [13]:
states_in_nigeria = [
    "Abia", "Adamawa","Akwa Ibom","Anambra",
    "Bauchi","Bayelsa","Benue","Borno",
    "Cross River","Delta",
    "Ebonyi","Edo","Ekiti","Enugu",
    "Gombe","Imo","Jigawa","Kaduna",
    "Kano","Katsina","Kebbi","Kogi","Kwara","Lagos", 
    "Nasarawa","Niger", "Ogun","Ondo", "Osun","Oyo",
    "Plateau","Rivers", "Sokoto","Taraba","Yobe",
    "Zamfara","Federal Capital Territory","Abuja"
]
def is_state_in_nigeria(location):
    for state in states_in_nigeria:
        if state in location:
            return state
    return False

In [14]:
df['state'] = df['location'].apply(is_state_in_nigeria)
df['state']

0       Bayelsa
1         False
2         False
3         False
4         False
         ...
4431      Benue
4432      False
4433      Lagos
4434      False
4435      False
Name: state, Length: 4436, dtype: object

In [15]:
df.head(3)

,NMS Service Plan Id,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,Distributor Partner Id,Satellite,Gateway Name,...,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,Lat,Long,location,state
0,NC020G1,8032582277,Marcorex Telco Services Hyperia,4/13/2018,NaN,3521532,NaN,NaN,Y1B,Y1BLXB,...,HN9600,Y1B051,YahClick Empower 20GB,NaN,2628267,Inactive,4.956944,6.361944,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa...",Bayelsa
1,NC010G1,8020575565,GETACHUS NIG LTD Hyperia,4/16/2018,NaN,3619771,NaN,NaN,Y1B,Y1BLXB,...,HN9260,Y1B051,YahClick Lite 10GB,NaN,2332146,Inactive,6.470000,6.090000,"F39R+X2 Ebute-Ujogba,",False
2,NC010G1,(234) 146-1991,Etchgold Nigeria Limited,4/10/2018,NaN,3373588,SKY01326,NaN,Y1B,Y1BATH,...,HN9800,Y1B061,YahClick Lite 10GB,NaN,2482968,Inactive,9.240000,12.439722,"6CQQ+XV Jimeta,",False

In [16]:
df.to_csv("./clean_data_2.csv", index=False)