In [1]:
import pandas as pd, plotly.express as px, seaborn as sns, matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./clean_data_1.csv")

In [3]:
df.head(3)

,NMS Service Plan Id,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,Distributor Partner Id,Satellite,Gateway Name,...,Last Modified Date,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,Lat,Long,Location
0,NC010G1,8030428639,Kat Consulting Hyperia,5/18/2020,NaN,3526981,NaN,NaN,Y1B,Y1BLXB,...,5/19/2020,HN9600,Y1B051,NaN,NaN,2628178,Inactive,4.916667,6.316667,#52 Mike Okporkpor Kpansia Yenagoa Bayelsa...
1,NC005G1,8037848784,Marvit High Quality Services Hyperia,1/4/2023,NaN,3524211,NaN,NaN,Y1B,Y1BLXB,...,1/4/2023,HN9600,Y1B051,NaN,NaN,2542110,Inactive,4.916667,6.316667,#52 Mike Okporkpor Kpansia Yenagoa Bayelsa...
2,NaN,0,Marcorex Telco Services Hyperia,1/4/2023,NaN,3529091,NaN,NaN,Y1B,Y1BLXB,...,1/4/2023,HN9600,Y1B051,YahClick Pro 20GB,YahClick Pro 20GB,2628267,Inactive,4.916667,6.316667,#52 Mike Okporkpor Kpansia Yenagoa Bayelsa...

In [8]:
states_in_nigeria = [
    "Abia", "Adamawa","Akwa Ibom","Anambra",
    "Bauchi","Bayelsa","Benue","Borno",
    "Cross River","Delta",
    "Ebonyi","Edo","Ekiti","Enugu",
    "Gombe","Imo","Jigawa","Kaduna",
    "Kano","Katsina","Kebbi","Kogi","Kwara","Lagos", 
    "Nasarawa","Niger", "Ogun","Ondo", "Osun","Oyo",
    "Plateau","Rivers", "Sokoto","Taraba","Yobe",
    "Zamfara","Federal Capital Territory"
]
def is_state_in_nigeria(location):
    for state in states_in_nigeria:
        if state in location:
            return state
    return False

In [9]:
df['state'] = df['Location'].apply(is_state_in_nigeria)
df['state']

0         Bayelsa
1         Bayelsa
2         Bayelsa
3       Akwa Ibom
4       Akwa Ibom
          ...
4431      Katsina
4432      Katsina
4433      Katsina
4434      Katsina
4435      Katsina
Name: state, Length: 4436, dtype: object

In [11]:
df.head(3)

,NMS Service Plan Id,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,Distributor Partner Id,Satellite,Gateway Name,...,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,Lat,Long,Location,state
0,NC010G1,8030428639,Kat Consulting Hyperia,5/18/2020,NaN,3526981,NaN,NaN,Y1B,Y1BLXB,...,HN9600,Y1B051,NaN,NaN,2628178,Inactive,4.916667,6.316667,#52 Mike Okporkpor Kpansia Yenagoa Bayelsa...,Bayelsa
1,NC005G1,8037848784,Marvit High Quality Services Hyperia,1/4/2023,NaN,3524211,NaN,NaN,Y1B,Y1BLXB,...,HN9600,Y1B051,NaN,NaN,2542110,Inactive,4.916667,6.316667,#52 Mike Okporkpor Kpansia Yenagoa Bayelsa...,Bayelsa
2,NaN,0,Marcorex Telco Services Hyperia,1/4/2023,NaN,3529091,NaN,NaN,Y1B,Y1BLXB,...,HN9600,Y1B051,YahClick Pro 20GB,YahClick Pro 20GB,2628267,Inactive,4.916667,6.316667,#52 Mike Okporkpor Kpansia Yenagoa Bayelsa...,Bayelsa

In [12]:
df.to_csv("./clean_data_2.csv", index=False)